<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="recipe_card_image">
                <%= link_to recipe_path(recipe) do %>
                  <%= image_tag(recipe.image) %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="recipe_image">
                    <%= attachment_image_tag recipe.user, :profile_image, fallback: "no.image.png", class: "profile_image" %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%=link_to recipe.user.name, user_path(recipe.user) %></div>
                </div>
              </div>
                <% if user_signed_in? %>
                  <% if current_user.already_favorited?(recipe) %>
                    <%= button_to  recipe_favorites_path(recipe), {method: :delete, class: "favoirte_button"} do %> 
                      <i class="fas fa-heart"></i>
                      <%= recipe.favorites.count %>
                    <% end %> 
                  <% else %> 
                    <%= button_to recipe_favorites_path(recipe), {method: :post, class: "favorite_button"} do %>
                      <i class="far fa-heart"></i>
                      <%= recipe.favorites.count %>
                    <% end %>
                  <% end %>
                <% end %>

              <div class="content">
                <time><%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div> 
      <% end %>
    </div>
  </div>
</section>