<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="recipe_show_image">
              <%= image_tag(@recipe.image) %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @recipe.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                 <th>レシピ ~作り方~</th>
                </tr>
                <tr>
                  <td><%= simple_format @recipe.body %></td>
                </tr>
              </table>
              <%= form_for [@recipe, @comment] do |f| %>
                <%= f.text_area :comment, size: "40x5" %>
                <%= f.submit '送信', class: "btn-sm btn-primary" %>
              <% end %>
              <table>
                <thead>
                  <tr>
                    <th>コメント投稿者</th>
                    <th>コメント内容</th>
                  </tr>
                </thead>
                <tbody>
                  <% @comments.each do |comment| %>
                    <tr>
                      <td><%= comment.user.name %></td>
                      <td><%= comment.comment %></td>
                      <td><%= button_to "削除", recipe_comment_path(@recipe, comment), method: :delete %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <% if current_user.already_favorited?(@recipe) %>
                <%= button_to  recipe_favorites_path(@recipe), {method: :delete, class: "favoirte_button"}, remote: true  do %> 
                  <i class="fas fa-heart"></i>
                  <%= @recipe.favorites.count %>
                <% end %> 
              <% else %> 
                <%= button_to recipe_favorites_path(@recipe), {method: :post, class: "favorite_button"}, remote: true do %>
                  <i class="far fa-heart"></i>
                  <%= @recipe.favorites.count %>
                <% end %>
              <% end %>


              <% if @recipe.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_recipe_path(@recipe), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @recipe.user.name %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @recipe.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@recipe.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @recipe.user.name %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>